<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NutriGaze</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="header">
    <h1>NUTRIGAZE</h1>
    <nav class="nav">
      <a href="#home">Home</a>
      <a href="about.html">About</a>
     <a href="predict.html">Predict</a>

      <a href="#contact">Contact</a>
    </nav>
  </header>

  <!-- Hero Section -->
  <section id="home" class="section hero">
    <h2>Welcome to NutriGaze</h2>
    <h3>GREENGUARD INSIGHTS</h3>
    <p>We are a team of innovative scientists and technologists dedicated to ensuring your produce is always fresh and healthy.</p>
    <a href="#about" class="button">GET STARTED</a>
  </section>

 
  
</body>
</html>
