<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Predict | NutriGaze</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="header">
    <h1>NUTRIGAZE</h1>
    <nav class="nav">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="predict.html" class="active">Predict</a>
    </nav>
  </header>

  <section class="section predict">
    <div class="predict-container">
      <h2>Image Classification</h2>
      <p>Upload Your Image :</p>
      <form class="predict-form" method="POST" action="/predict" enctype="multipart/form-data">

        <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
        <button type="submit">Predict</button>
      </form>
    </div>
  </section>
</body>
</html>
